*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
                /*------------------------------              SECTION 1            -----------------------------*/
.section1{
    padding: 0 5px;
    width: 99%;
    margin: 10px auto
}
.section1 .row{
    display: flex;
    flex-wrap: wrap;
}
                /*------------------------------              SECTION 2 col1            -----------------------------*/
.col1{
    padding-left: 10px;
}
.col1 img{
    height:100vh ;
    /* width: 100%; */
}
.section1 .row .col1{
    flex-basis: 40%;
    /* box-sizing: border-box; */
    padding-top: 5px ;
}
                /*------------------------------              SECTION 2  col2          -----------------------------*/
.col2{
    margin-top: 0px;
    padding: 0 20px;
    flex-basis: 58%;
    width: 100%;
    flex-wrap: wrap;
}
.review .row img{
    height: 3vh;
}
.review .row p{
    font-size: 12px;
}

.review .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.col2 .price{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.col2 .price p{
    font-size: 30px;
    padding-right: 20px;
    padding-top: 13px;
}
.col2 .price .fa{
    padding-top: 21px;
    padding-right: 2px;
}
.col2 .introduction{
    font-size: 12px;
    padding-top: 75px;
}
.col2 .introduction ul{
    padding-left: 15px;
}
.dropdowns-area{
    padding-top: 20px;
}
.dropdown .btn-color{
    background-color: white;
    color: grey;
    border-color: gray;
    border-radius: 2px;
}
.buttons .btn-expand{
    margin-top: 60px;
    width: 300px;
    color: grey;
    background-color: white;
    border-radius: 2px;
}
.buttons .btn-expand:hover{
    color: white;
    background-color: rgb(19, 18, 18);
}
.last-widget{
    padding-top: 28px;
}
.compare{
    background-color: grey;
    border-radius: 50%;
}
                /*------------------------------              SECTION 2            -----------------------------*/
.section2 .navbar{
    width: 100%;
    padding: 0px;
}
.section2 .nav-color{
    color:rgb(8, 8, 8);
    padding-left: 80px;
}
/* .navbar{
    padding: 0px;
} */
.paragraphs{
    width: 96%;
    margin: auto;
}
.paragraphs p{
    padding-top: 20px;
}